<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>

    <!-- Mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <title>Сотрудники</title>

    <!-- Material Design fonts -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="lib/bootstrap.min.css">
    <link rel="stylesheet" href="lib/bootstrap-material-design.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body ng-controller="WorkersController">

<div class="navbar navbar-inverse" id="nav">
    <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="  navbar-brand" href="#/"><b>Список</b></a>
            <div class="form-group">
                <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Search">
            </div>

        </div>

        <div class="navbar-collapse collapse navbar-inverse-collapse">

            <div class="nav navbar-nav navbar-right">
                <!--Button trigger modal-->
                <button type="button" class="btn btn-raised btn-primary" data-toggle="modal" data-target="#addModal">
                    Добавить сотрудника
                </button>

            </div>
        </div>

    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel " ng-init="getWorkers()" ng-controller="WorkersController">

                <table class="table table-striped" id="example" class="table table-striped table-bordered"
                       cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Фамилия</th>
                        <th>Должность</th>
                        <th>Пол</th>
                        <th>Телефон</th>
                        <th>Рабочее время</th>
                        <th>Изменить</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="worker in filteredWorkers | filter: searchKeyword  ">

                        <td>{{worker.name}}</td>
                        <td>{{worker.patronymic}}</td>
                        <td>{{worker.surname}}</td>
                        <td>{{worker.post}}</td>
                        <td>{{worker.sex}}</td>
                        <td>{{worker.phone}}</td>
                        <td>{{worker.work_start }} – {{worker.work_stop}}</td>

                        <td>

                            <a class="btn btn-raised btn-primary" ng-click="getWorker(worker._id)" data-toggle="modal"
                               data-target="#editModal"> Edit </a>
                            <a class="btn btn-raised btn-primary" ng-click="removeWorker(worker._id)" href="#/workers/">Del</a>

                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="paggition">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                <a href="#" aria-label="Preview" ng-click="previousPage()">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li><a href="#">{{currentPage}}/{{numberOfPages()}}</a></li>
                            <li ng-class="{'disabled': check()}">
                                <a href="#" aria-label="Next" ng-click="nextPage()">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>


                <!-- AddModal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                        aria-hidden="true">&times;</span></button>

                            </div>

                            <div class="modal-body">

                                <a class="btn btn-danger " data-dismiss="modal" aria-label="Close" href="#/workers">Назад</a>
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <form class="form-horizontal" id="addform" novalidate>
                                                    <center>
                                                        <legend><b>Добавить сотрудника</b></legend>
                                                    </center>
                                                    <fieldset>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.name, 'has-success': worker.name  }">
                                                            <label for="addinput1"
                                                                   class="col-md-2 control-label">Имя</label>

                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="addinput1"
                                                                       ng-model="worker.name" placeholder="Имя"
                                                                       data-smk-msg="Please fill out this field"
                                                                       required>

                                                            </div>
                                                        </div>

                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.patronymic, 'has-success': worker.patronymic  }">
                                                            <label for="addinput2" class="col-md-2 control-label">Отчество</label>

                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="addinput2"
                                                                       ng-model="worker.patronymic"
                                                                       placeholder="Отчество"
                                                                       data-smk-msg="Please fill out this field"
                                                                       required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.surname, 'has-success': worker.surname  }">
                                                            <label for="addinput3" class="col-md-2 control-label">Фамилия</label>

                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="addinput3"
                                                                       ng-model="worker.surname" placeholder="Фамилия"
                                                                       data-smk-msg="Please fill out this field"
                                                                       required>

                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.post, 'has-success': worker.post  }">
                                                            <label for="addinput4"
                                                                   class="col-md-2 control-label">Должность</label>

                                                            <div class="col-md-10">
                                                                <select id="addinput4" ng-model="worker.post"
                                                                        class="form-control">
                                                                    <option>Программист</option>
                                                                    <option>Дизайнер</option>
                                                                    <option>Менеджер</option>
                                                                    <option>Персонал</option>
                                                                    <option>Обучающийся</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.sex, 'has-success': worker.sex  }">
                                                            <label for="addinput5"
                                                                   class="col-md-2 control-label">Пол</label>

                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="addinput5"
                                                                       ng-model="worker.sex" placeholder="Пол"
                                                                       data-smk-msg="Please fill out this field"
                                                                       required>

                                                            </div>
                                                        </div>

                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.phone, 'has-success': worker.phone  }">
                                                            <label for="addinput6" class="col-md-2 control-label">Телефон</label>

                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="addinput6"
                                                                       ng-model="worker.phone" placeholder="Телефон"
                                                                       data-smk-msg="Please fill out this field"
                                                                       required>

                                                            </div>
                                                        </div>

                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.work_start, 'has-success': worker.work_start  }">
                                                            <label for="addinput7" class="col-md-2 control-label">Начало
                                                                дня</label>

                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="addinput7"
                                                                       ng-model="worker.work_start"
                                                                       placeholder="Начало рабочего дня"
                                                                       data-smk-msg="Please fill out this field"
                                                                       required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group"
                                                             ng-class="{ 'has-error': !worker.work_stop, 'has-success': worker.work_stop  }">
                                                            <label for="addinput8" class="col-md-2 control-label">Конец
                                                                дня</label>

                                                            <div class="col-md-10">
                                                                <input type="text" class="form-control" id="addinput8"
                                                                       ng-model="worker.work_stop"
                                                                       placeholder="Конец рабочего дня"
                                                                       data-smk-msg="Please fill out this field"
                                                                       required>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="col-md-10 col-md-offset-2">

                                                                <a href="/#/workers">
                                                                    <button type="submit"
                                                                            ng-click="updateWorker(worker._id)"
                                                                            class="btn btn-primary">Submit
                                                                    </button>
                                                                </a>
                                                                <button type="reset" class="btn btn-default">Reset
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>


<!--Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>

            </div>

            <div class="modal-body">

                <a class="btn btn-danger " data-dismiss="modal" aria-label="Close" href="#/workers">Назад</a>
                <div class="panel panel-success">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="form" ng-submit="addWorker()" novalidate>

                                    <center>
                                        <legend><b>Добавить сотрудника</b></legend>
                                    </center>
                                    <fieldset>


                                        <form name="userForm">
                                            <div class="form-group"
                                                 ng-class="{ 'has-error': !worker.name, 'has-success': worker.name  }">
                                                <label for="editinput1" class="col-md-2 control-label">Имя</label>

                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="editinput1"
                                                           ng-model="worker.name" placeholder="Имя" required>

                                                </div>
                                            </div>
                                        </form>

                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.patronymic, 'has-success': worker.patronymic  }">
                                            <label for="editinput2" class="col-md-2 control-label">Отчество</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="editinput2"
                                                       ng-model="worker.patronymic" placeholder="Отчество" required>
                                            </div>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.surname, 'has-success': worker.surname  }">
                                            <label for="editinput3" class="col-md-2 control-label">Фамилия</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="editinput3"
                                                       ng-model="worker.surname" placeholder="Фамилия" required>

                                            </div>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.post, 'has-success': worker.post  }">
                                            <label for="editinput4" class="col-md-2 control-label">Должность</label>

                                            <div class="col-md-10">
                                                <select id="editinput4" ng-init="worker.post='Программист'"
                                                        ng-model="worker.post" class="form-control">
                                                    <option>Программист</option>
                                                    <option>Дизайнер</option>
                                                    <option>Менеджер</option>
                                                    <option>Персонал</option>
                                                    <option>Обучающийся</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.sex, 'has-success': worker.sex  }">
                                            <label for="editinput5" class="col-md-2 control-label">Пол</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="editinput5"
                                                       ng-model="worker.sex" placeholder="Пол" required>

                                            </div>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.phone, 'has-success': worker.phone  }">
                                            <label for="editinput6" class="col-md-2 control-label">Телефон</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="editinput6"
                                                       ng-model="worker.phone" placeholder="Телефон" required>

                                            </div>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.work_start, 'has-success': worker.work_start  }">
                                            <label for="input7" class="col-md-2 control-label">Начало дня</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input7"
                                                       ng-model="worker.work_start" placeholder="Начало рабочего дня"
                                                       required>
                                            </div>
                                        </div>

                                        <div class="form-group"
                                             ng-class="{ 'has-error': !worker.work_stop, 'has-success': worker.work_stop  }">
                                            <label for="input8" class="col-md-2 control-label">Конец дня</label>

                                            <div class="col-md-10">
                                                <input type="text" class="form-control" id="input8"
                                                       ng-model="worker.work_stop" placeholder="Конец рабочего дня"
                                                       field" required>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-10 col-md-offset-2">
                                                <button type="submit" href="/#/workers" class="btn btn-primary">Submit
                                                </button>
                                                <button type="reset" class="btn btn-default">Reset</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<script src="lib/jquery.min.js"></script>
<script src="/lib/angular.js"></script>
<script src="lib/bootstrap.min.js"></script>
<script src="controllers/workers.js"></script>

</body>
</html>